@set('classes', '')
@set('value', flashMessages.get($context.name) || '')
@set('error', flashMessages.get(`errors.${$context.name}`) || '')

<input {{ $props.serialize({
  class: classes,
  value: type !== 'password' ? value : '',
  id: $context.name,
  name: $context.name
}, false) }} >

@if(error)
  <span>{{ error }}</span>
@end