<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NGK</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body class="bg-gray-100" page-body>
  @include('partials/header')
  <main class="max-w-screen-lg m-auto" up-main>
    @!section('content')
  </main>
</body>
</html>